<% if @is_current_user and @user.vendor? and (@user.offerings.empty? or @user.description.nil? ) -%>
	<p> Hey, you're a <%= AppConfig.community_name%> Pro! You should <%= link_to :update_your_profile.l, edit_user_path(@user)%> Add your skills, contact info and Web site.</p>  
<% end -%>

<div class='span-16'>
    asd
</div>

<div class='span-8 last'>
	<div class='box'>
		<%= render :partial => 'profile_user_info_sidebar', :locals => {:user => @user}%>
	</div>  
</div>